@charset "UTF-8";
/* CSS Document */ 

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

body, html{
	padding:0; margin:0; 
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	color:#333;
	width: 100%;
	height: 100%;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}  

a{color:#333} 
a:link{ text-decoration:none}
a:hover{ text-decoration:none}
a:active{ text-decoration:none}
a:visited{ text-decoration:none}

li{	list-style:none; margin:0; padding:0}
ul{
	list-style:none; 
	margin:0;
	padding: 0;
} 

hr{
	width:100%;
	background-color:#ddd;
	border:none;
	height:1px;
	margin:40px 0 20px 0;
} 

#mensagem{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 76%;
	height: 99px;
	overflow: hidden;
	margin: auto 0;
	font-size:16px;
	color: #fff;
	text-align: center;
	font-weight: 300;
	display: table;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
}

.login #mensagem{
	width: 100%;
}

#mensagem span{
	display: table-cell;
	vertical-align: middle;
}

.msg_ok{background:#85c7aa}
.msg_erro{background:#df746e}  



/* FORM */

.arrow{ font-size: 18px; position: relative; top: 1px;}
 
.input{
	width:100%;
	padding:15px;
	border:0;
	font-size:12px;
	line-height: 20px; 
	background:#f0f0f0;
	margin-bottom: 10px;
	background-position:right;
	background-repeat: no-repeat;
	background-size: 25px;
} 

.editor{ margin-bottom: 10px; }

.input._pt{ background-image:url(_layout/bandeira_pt.png)}

.input:focus::-webkit-input-placeholder { color: #f0f0f0; } 
.input:focus:-moz-placeholder { color: #f0f0f0; } 
.input:focus::-moz-placeholder { color: #f0f0f0; }  
.input:focus:-ms-input-placeholder { color: #f0f0f0; } 
 

.select{
	width:100%;
	height:50px;
	border:none;
	color:#999;
	background-color:#333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	background-image:url(_layout/bg_select_cms.png);
	background-repeat:no-repeat;
	background-position:right;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-padding-start: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
}

.select:hover{
	color: #fff;
} 


#bt_gravar{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 76%;
	height: 99px;
	font-family: 'Source Sans Pro', sans-serif;
}

/* LOGIN */

#esqueci_senha { margin-top: 10px; display: block }
#esqueci_senha:link{color:#fff; text-decoration:none}
#esqueci_senha:hover{color:#fff; text-decoration:underline}
#esqueci_senha:active{color:#fff; text-decoration:underline}
#esqueci_senha:visited{color:#fff; text-decoration:none} 

.login{
	background:#333;
}

#dados_login{
	width: 80%;
	max-width: 400px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding-top: 120px;
	background-image: url(_layout/logo_admin.png);
	background-position: top;
	background-repeat: no-repeat;
} 
 
.btg{
	height: 51px;
	display:block;
	width:100%;
	line-height: 18px;
	background-color:#ddd;
	background-image: url(_layout/bg_bts_cms.png);
	background-size: 100% 100%;
	color:#333; 
	border:#fff 1px solid;
	text-align:center;
	cursor:pointer;
	font-size:16px;
	font-weight: 400;
	display: table;
} .btg:hover{
	background:#eee;
}  

.btg span{ display: table-cell; vertical-align: middle; }

#bt_voltar{ 
	position: fixed;
	top: 0;
	right: 0;
	width: 76%;
	text-transform: uppercase;
	
}

#login_form .input{
	text-align: center;
	margin-bottom: 1px;
}
 
/* CONTAINER */

#container{
	width: 76%;
	padding: 50px 5%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* MENU */

#menu{
	width:24%;
	height:100%;
	background-color:#333;
	position:fixed;
	color: #fff;
	left: 0;
	top: 0;
	font-weight: 200;
	padding-bottom: 100px;
} 		 

#logo{
	height:100px;
	width: 100%;
	background-image: url(_layout/logo_admin.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}   

#menu_ul{	
	border-top:#555 1px solid;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100px;
	height: 300px;
}

#menu_ul::-webkit-scrollbar {
    height: 18px;
    width: 18px;
} 
/* Track */
#menu_ul::-webkit-scrollbar-track {
	background-color:#333;
}
 
/* Handle */
#menu_ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border:#333 5px solid;
	background-color:#999; 
}#menu_ul::-webkit-scrollbar-thumb:hover{ 
	background-color:#fff; 
} 

#menu_ul a{
	display:block;
	width:100%;
	padding: 16px 0 15px 20px;
	border-bottom:#555 1px solid; 
	color:#999;
	text-transform: uppercase;
	font-weight:300;
}

#menu_ul a:hover{
	color:#fff;
}
 
 
#menu_ul span{
	position:relative;
	left:10px;
	bottom:3px;
	}

.menu_atual{   
	font-weight:500;
	color: #333;
	background: #fff;
	width:100%;
	padding: 16px 0 15px 20px;
	border-bottom:#fff 1px solid; 
	text-transform: uppercase;
}

#lg_select{
	position: absolute;
	bottom: 50px;
	left: 0;
	border-top:#555 1px solid; 
	font-size: 11px; 
	padding: 17px 0 17px 20px;
} 

#lg_select._pt{ background-image:url(_layout/bg_select_pt.png); }
#lg_select._en{ background-image:url(_layout/bg_select_en.png); } 

#user{
	width: 100%;
	height: 50px;
	background-color: #333;
	border-top: #555 1px solid; 
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	color:#999;
	padding: 17px 0 17px 20px;
	font-size: 11px;
	cursor: pointer;
	background-image: url(_layout/user.png);
	background-position: right;
	background-repeat: no-repeat; 
}

#user:hover{
	color: #fff;
}


/* SUBMENU */

#submenu{
	height:50px;
	width: 76%;
	text-align: center; 
	position: fixed;
	top: 51px;
	right: 0;
	overflow: hidden;
	background: #eee;
	border-right: #fff 1px solid;
	border-left: #fff 1px solid;
	border-bottom: #fff 1px solid;
} 

#submenu a{	
	display: inline-block;
	padding: 17px;
	height: 50px;
	border-right: #fff 1px solid;
	background-color:#ddd;
	background-image: url(_layout/bg_bts_cms.png);
	background-size: 100% 100%;
	color:#333;
	text-transform: uppercase;
	font-size: 14px;
}  

#submenu a:hover{ 
	background: #eee;
}

#submenu a.submenu_atual {
	background: #fff;
	color: #333;
} 

#submenu_bts{
	display: inline-block;
}

#submenu_select{
	width: 100%;
	display: block;
	background-color: #ddd;
	color: #333;
	display: none;
	border-bottom: 0;	
	border-top: 0;
	padding-left: 7%;
	background-size: 100% 100%;
	background-image: url(_layout/bg_bts_cms.png);
	cursor: pointer;
}

#submenu_select_ico{
	position: absolute;
	top: 10px;
	right: 8%;
	display: none;
}

#submenu_select:hover{ 
	background: #eee;
}
 

#submenu a.bl{ border-left: #fff 1px solid; }


/*///////////////////////////////////////////// ANTIGO /////////////////////////////////////////////*/


iframe{
	width: 100%;
	height: 360px;
}

#dados{ width: 90%; min-width: 600px; max-width: 900px }


#dados ul{ 
	border: #dfdfdf 1px solid;
	width: 100%;
	min-height: 46px;
	border-radius: 3px;
	padding: 1px;
	padding-bottom: 0;
}
 
#cont{
	margin-left:280px
} 

#links{
	 height: 500px;
}

.btg_voltar{	
	font-weight:bold;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	background-size:1px 45px;
	border:#dfdfdf 1px solid;
	cursor:pointer;
	width: 100%;
	display: block;
	padding: 15px;
	text-align: center;
	margin-bottom: 1px;
	position: relative;
}
.btg_voltar img{
	position: absolute; left: 0; top: 0
}




/* CONTEUDO */ 

.titulo_pg{
	color:#333;
	font-size:11px;
	font-weight: bold;
	margin-top:8px;
	margin-bottom:30px;
	clear:both;
}

.titulo{
	color:#999;
	font-size:11px;
	margin-top:25px;
	margin-bottom:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
  


#visitantes_bts{
	position: fixed;
	bottom: 0;	
	left: 0;	
	width: 100%;
	max-width: 1280px;
	min-width: 950px;
	padding-left:280px; 
	z-index: 10;
}

.btm{
	float: left;
	margin-right: 1px
}  

#exportar_csv{ 
	width: 24.5%;
}

.bt_add{
	margin-top:2px;
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
}


.btp_tb{
	position:absolute;
	right:40px;
	top:2px;
	font-weight:bold;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	border:#ddd 1px solid;
	margin:3px;
	padding:8px 12px;
	cursor:pointer;
}

.checkbox{margin-bottom:5px; }
.checkbox svg{position:relative; top:8px}   

.input.off{
	color: #c0c0c0;
	height: 35px;
	width:100%;
	padding:10px;
	border:0;
	font-size:12px;
	background:#f0f0f0; 
}

input, select{
	outline: none;
}

.text{
	width:100%;
	height:200px;
	padding:10px;
	font-size:12px;
	border:0;
	background:#f0f0f0;
	}
	
.embed_in{
	padding:10px;
	width:100%;
	height:130px;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#f0f0f0;
	border: 0;
	background-image:url(_layout/embed_in.png);
}
	

.bg1{ background-color:#a8b398 }
.bg2{ background-color:#99b1bf }
.bg3{ background-color:#b1a8bf }  

.hover:hover{background-color:#f9f9f9; cursor: pointer;}


/* TAGS */

#tags{
	margin-bottom: 20px;
}

.tag{
	display: inline-block;
	padding: 10px;
	line-height: 15px;
	border-radius: 3px;
	background: #f0f0f0;
	color: #c0c0c0; 
	margin-right: 3px;
	margin-bottom: 3px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}


/* TEMA */

.tema{
	width:49%;	
	padding-top:49%;
	position: relative;
	margin-bottom: 1%;
	margin-right: 1%;
	float: left;
} 

.cel33{
	width:33%;
	margin-bottom: 2px;
	float: left;
	margin-right: .3%
}

.cel25{
	width:24.7%;
	margin-bottom: 2px;
	float: left;
	margin-right: .3%
}

.cel50{
	width:49.7%;
	margin-bottom: 2px;
	float: left;
	margin-right: .3%
} 

.tema img { width:900px; position: absolute; left: 0; top: 0;}
.tema .bt_del{ position: absolute; top: 10px; right: 10px; }
.tema a:hover{opacity: .75; cursor: pointer}

.tema img{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#capa_preview{
	width: 100%;
	padding-top: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	color: #fff;
	font-size: 12px;
}

#capa_cortina{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .05;
	position: absolute;
	top: 0;
	left: 0;
	
}

#foto_equipe{
	width: 100%;
	padding-top: 50%;
	position: relative;
	background-size: cover;
	background-position: center;
}

.capa_barra{
	position: absolute;
	width: 100%;
	height: 46px;
	left: 0;
	z-index: 2;
}

#capa_menu{
	width: 46px;
	height: 46px;
	float: left;
	margin-left: 5px;
}

.capa_faixa {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	z-index: 1;
}

#capa_seta{ 
	width: 100%;
	height: 46px;
}

#capa_logo{
	width: 100%;
	text-align: center;
	height: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

#capa_logo svg{
	width: 100%;
	height: 100%;
}

.capa_TRCOM{
	width: 100%;
	text-align: center;
	height: 90px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.capa_titulo{
	font-size: 34px;
	font-family: 'Roboto';
	font-weight: 100;
	display: block;
	color: #fff; 
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.capa_subtitulo{
	font-size: 13px;
	padding: 3px 8px;
	line-height: 22px;
	margin-bottom: 2px;
	display: inline-block;
	color: #fff;
	background: #000;
}

.versalete{
	font-size: 10px;
	font-weight: bold;
}
 

/* SUBLOGO */

#sublogo_svg{
	width: 100%;
	height: 350px;
}

#n_itens{
	width: 100px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
}

#reset{
	width: 100px;
	padding: 5px;
	font-weight:bold;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	background-size:1px 45px;
	border:#dfdfdf 1px solid;
	cursor:pointer;
	display: inline-block;
	text-align: center;
}

#sublogo_painel{
	padding-top: 20px;
	width: 220px;
	margin-left: 50%;
}

#sublogo_painel div{
	position: relative;
	left: -110px;
}

#salvar_bt{
	position: relative;
	top: -18px;
}

/* TO-DO */
.todo-name.clouds {
color: #BDC3C7; }

.todo li.todo-done {
background: transparent 92% center no-repeat;
background-size: 20px 20px;
color: #1abc9c; }

.todo li:first-child {
margin-top: 0; }

.todo li:last-child {
border-radius: 0 0 6px 6px;
padding-bottom: 18px; }

.todo-wrap {
background-size: 20px 20px;
cursor: pointer;
padding: 10px 18px;
position: relative;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden; }


/* ITEM */

.item_tb {
	width:36px;
	height:36px;
	float: left;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.item_input{
	margin-left: 5px;
	border: 0;
	width: 100%;
}
 
.input3{width: 25%;}
.input2{width: 36%;}

.item_lb{ 	
	float: left;
	margin-left: 10px;
	padding-top: 12px;
	position: relative;
	z-index: 1;
	width: 80%;
    overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_band{
	margin-left: 20px;
	height: 11px;
	position: relative;
	top: 1px;
}

.item_link {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
} 

.item {
	width:100%;
	height:42px;
	padding:2px;
	margin-bottom:1px;
	position:relative;
	border-radius:2px;
	background:#f0f0f0;
	overflow: hidden;
}   

.user_ativo{
	float: left; 
	margin-right: 20px;
	height: 14px;
	position: relative;
	top: -3px;
}

/* SORTABLE */

.handle{
	width:30px; 
	height:30px; 
	cursor:move;
	float:right; 
	margin:3px;
	position: relative;
	z-index: 2;
} 

.excluir_tudo{
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#933;
	color:#fff; 
	padding:15px 0;
	width:100%;
	font-weight:bold;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	text-align:center;
	cursor:pointer;
}
.excluir_tudo:hover{color:#fff}  

.btp{
	float: right;
	font-weight:bold;
	background-image:url(_layout/bg_bts_cms.jpg);
	border:#ddd 1px solid;
	margin:3px;
	padding:15px;
	cursor:pointer;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
	z-index: 2;
}

.bt_del{
	background-image:url(_layout/lixo_p.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#cc5353;
	width:7px;
	border:none;
}

.multi_del{ 
	background-color:#cc5353;
	margin-top:20px;
	padding:15px;
	cursor:pointer;
	border-radius: 3px;
	text-align: center;
	color: #fff;
}

.bt_destaque{
	background-image:url(_layout/ico_home.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ddd;
	width:7px;
	border:none;
}
 
.bt_checkbox{
	background-image:url(_layout/ico_check.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ddd;
	width:7px;
	border:none;
}
 

#mini_layout{
	width: 356px;
	margin: 0 auto;
	position: relative;
}

.itens_layout{
	border: #dfdfdf 1px solid;
	width: 354px;
	min-height: 46px;
	border-radius: 3px;
	padding: 1px;
	padding-bottom: 0;
	float: left;
} 

.itens_layout div{
	background-position: center;
	background-size: cover;
	border: #fff 1px solid;
	float: left;
	height: 175px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	color: #fff;
}

.bt_size{
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 8px;
	color: #999;
	background: #fff;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
	cursor: pointer;
}

.bt_move{
	width: 30px;
	height: 30px;
	background: #fff;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	cursor:move;	
} 
.bt_move img {width: 100%; height: 100%}



.w100{width: 350px}
.w50{width: 175px} 
				 
.img_preview{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.emb_preview{
	width: 100%;
	padding-top: 75%;
	overflow: hidden;
	position: relative;
}.emb_preview iframe{ width: 100%; height: 100%; position: absolute; top: 0; left: 0;}


.tb_bg{
	margin-bottom:10px;
	padding:0;
	width:300px;	
	height:300px;
}  



#topo_old{
	width:100%;
	padding:20px 15px;
	position:relative;
	color: #333;
	font-size: 14px;
	text-align: center;
	font-weight: bold
} 

 
.ckeckbox_img{
	background-color:#333;
	position:relative;
	top:9px;
	width:21px;
	height:21px;
	padding:3px;
	border-radius:2px;
}
 
#rodape{
	width:100%;
	height:100px;
} 

.legenda{
	width: 100%;
	height: 35px;
	margin-bottom: 1px;
	display: table;
}

.legenda_cel{
	width: 300px;
}

.legenda input{
	height: 35px; 
	padding:10px;
	border:#fff 1px solid;
	font-size:12px;
	background:#f0f0f0;
} 

.legenda_cor{
	display: table-cell;
	background: #f0f0f0;
	width: 1%;
	border:#fff 1px solid;
	
}

.legenda_label{
	display: table-cell;
	width: 80%;
}
.legenda_rgb{
	display: table-cell;
	width: 8%;
	text-align: center;	
}
.legenda_hex{
	display: table-cell;
	width: 19%;
	text-align: center;	
}

.legenda_col2{
	float: right;
	width: 15%;
	text-align: center;	
}

.legenda_col1{
	float: right;
	width: 24%;
	text-align: center;	
}
  

/* MODIFICADORES */

.on{
	background-color:#88ba80;
	color: #fff;
} 

.ajuste_dados{margin-top:25px;}
.mt0{margin-top:0;}
.mr0{margin-right:0;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mr20{margin-right:20px;}
.ml20{margin-left:20px;}
.ml10{margin-left:10px;}
.fl{float:left}
.fr{float:right}
.clear{clear:both;}
#cinza{color: #ccc}
.mt5{margin-top: 5px;}
.pointer{cursor: pointer}
